<!DOCTYPE html>
<html>
  <head>
    <title>Optimizing HTML5 Canvas Applications : <%= yield :title %></title>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    
    <%= stylesheet_link_tag "site.css" %>
    <%= stylesheet_link_tag "prettify.css" %>
    <%= javascript_include_tag "prettify" %>
    <%= javascript_include_tag "presentation" %>
    <%= javascript_include_tag "fpsProfiler" %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            prettyPrint();
          });
        </script>
	<%= yield :head %>
  </head>
  <body>
    <div id="content">
      <%= yield :title %>
      
      <%= yield %>
    </div>

  </body>
</html>